/*****   INDEX   *****
28- LETTERS PART
91- UNDERLINE PART
105- @KEYFRAMES PART
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
    background-image: linear-gradient(#ae8e48, #e3d7bc, #ae8e48);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.container {
    height: 100vh;
    width: 100vw; 
    text-align: center;
    padding-top: 20%;
    position: relative;
}

/****   LETTERS PART  ****/

.letter {
    color: rgb(63, 25, 25);
    text-transform: uppercase;
    text-shadow : 3px 8px 6px #999999;
    font-size: 2em;
} 

.z {
    position: absolute;
    left: 330px;
    animation: rotate 1.5s ease-in-out 1s infinite alternate forwards; 
  }

.t {
    position: absolute;
    left: 400px;
    animation: rotate 1.5s ease-in-out 1.2s infinite alternate; 
  }

.m {
    position: absolute;
    left: 475px;
    animation: rotate 1.5s ease-in-out 1.4s infinite alternate; 
  }
  
.f {
    position: absolute;
    left: 600px;
    animation: rotate 1.5s ease-in-out 1.6s infinite alternate; 
  }
  
.a {
    position: absolute;
    left: 665px;
    animation: rotate 1.5s ease-in-out 1.8s infinite alternate; 
  }
  
.mm {
    position: absolute;
    left: 750px;
    animation: rotate 1.5s ease-in-out 2s infinite alternate; 
  }
  
.i {
    position: absolute;
    left: 850px;
    animation: rotate 1.5s ease-in-out 2.2s infinite alternate; 
  } 

.l {
    position: absolute;
    left: 900px;
    animation: rotate 1.5s ease-in-out 2.4s infinite alternate; 
  } 

.y {
    position: absolute;
    left: 960px;
    animation: rotate 1.5s ease-in-out 2.6s infinite alternate; 
  } 

/****   UNDERLINE PART  ****/

.line {
    position: absolute;
    top: 60%;
    left: 25%;
    height: 5px;
    width: 700px; 
    margin: auto;
    visibility: hidden;
    background-image: radial-gradient(circle,rgb(29, 11, 11), rgb(65, 32, 32), #e3d7bc);
    animation: disappear 2s ease-in-out 0s ;

  }
/****   @KEYFRAMES PART  ****/

@keyframes rotate {

  0%,30% {
        transform: scale(1);
    }
  70% {
        transform: scale(1, 0);   
    }
  100% {
        top: 50%;
        transform: scale(1, -1);
        color: rgba(41, 8, 8);
    }
} 

@keyframes disappear {

  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}